<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>express_finalExam</title>
  <link rel="stylesheet" href="/stylesheets/express_final.css">
</head>
<body>
  <div class="container">
    <nav>
      <a href="http://localhost:3000">
        <input type="button" value='回到首頁'>
      </a>
      <div class="pages">
        <a href="http://localhost:3000/about"><input type="button" value='About'></a>
        <a href="http://localhost:3000/portfolio"><input type="button" value='Portfolio'></a>
        <a href="http://localhost:3000/contact"><input type="button" value='Contact'></a>
        
      </div>
    </nav>
    {{{body}}}
  </div>
</body>
</html>